<app-toolbar></app-toolbar>
<br>
<div class="container">
  <p-card styleClass="ui-card-shadow">

    <h2 id="user"></h2>
    <!--TODO melhora essa frase-->
    <p>Por favor, preencha o filtro abaixo com as informações que deseja visualizar.</p>

    <form #form="ngForm">

      <div class="row">

        <div class="col-3">
          <div class="form-group">
            <label for="dtIni">Data Inicial</label>
            <p-calendar name="dtIni"
                        id="dtIni"
                        dataType="string"
                        [(ngModel)]="extrato.dataIni"
                        dateFormat="dd/mm/yy"
                        [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"></p-calendar>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="dtFim">Data Final</label>
            <p-calendar name="dtFim"
                        id="dtFim"
                        dataType="string"
                        [(ngModel)]="extrato.dataFim"
                        dateFormat="dd/mm/yy"
                        [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"></p-calendar>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="cartao">Cartão</label>
            <p-autoComplete inputId="cartao"
                            name="cartao"
                            [dropdown]="true"
                            appendTo="body"
                            [(ngModel)]="extrato.cartao"
                            field="descricao"
                            (completeMethod)="findCartoes($event)"
                            [suggestions]="cartaoList"
                            (onClear)="extrato.cartao = null"
                            [forceSelection]="true">
            </p-autoComplete>
          </div>
        </div>
      </div>

    </form>

    <p-footer>
      <button type="button"
              pButton
              label="Filtrar"
              icon="pi pi-check"
              (click)="filtrar()">
      </button>
    </p-footer>

  </p-card>
</div>
