.borda-superior {
  border-top: #bfbfbf61 1px solid;
  margin-top: 4px;
  margin-bottom: 4px;
}

.btn-detalhes {
  margin-top: 10px;
  width: 100%;
  background-color: #3f51b5;
}

.text-center {
  text-align: center;
}

.template {
  font-size: 13px;
}

