.over:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.btn-toolbar:hover {
  cursor: pointer !important;
}

.semLiberacao {
  font-size: 20px;
  padding: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.box {
  width: auto;
  height: 300px;
}

.borda-inferior {
  border-bottom: #bfbfbf 1px solid;
  margin-top: 4px;
  margin-bottom: 4px;
}

.color {
  border-left: black 5px solid;
}

.center {
  width: 340px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
}

.card-padding {
  padding-left: 2px;
}

.div-principal {
  padding-left: 5px;
  padding-right: 5px;
}
