<app-toolbar></app-toolbar>
<br>
<div class="container">

  <p-card styleClass="ui-card-shadow">

    <p-header>
      <div class="col-12">
        Bandeira Form
      </div>
    </p-header>

    <form #form="ngForm">

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text"
                   id="codigo"
                   name="codigo"
                   [(ngModel)]="bandeira.id"
                   class="form-control"
                   disabled>
          </div>
        </div>

        <div class="col-md-9">
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text"
                   id="descricao"
                   name="descricao"
                   [(ngModel)]="bandeira.descricao"
                   class="form-control">
          </div>
        </div>
      </div>

    </form>

    <p-footer>
      <div>
        <button type="button"
                pButton
                label="Salvar"
                icon="pi pi-check"
                (click)="save()">
        </button>

        <button type="button"
                pButton
                label="Voltar"
                icon="pi pi-times"
                class="ui-button-secondary"
                (click)="back()">
        </button>
      </div>
    </p-footer>

  </p-card>

</div>
